doctype html
html(ng-app='testMoviesApp')
    head
        block title
        link(rel='stylesheet', href='css/app.css')

    body
        nav.navbar.navbar-default(ng-controller="NavigationCtrl")
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                #navbar.navbar-collapse.collapse
                    a.navbar-brand.logo(href="#")
                        img(src="img/logo.svg")
                    ul.nav.navbar-nav
                        li(ng-show="!loggedUser")
                            a(href="#/login") Login
                        li(ng-show="loggedUser")
                            a(ng-click="logout()") Logout
                        li(ng-show="loggedUser")
                            a(href="#/movies") Movies List
                    ul.nav.navbar-nav.navbar-right(ng-show="loggedUser")
                        li
                            a {{ (numFavs > 0) ? numFavs + ' favs' : 'No favs' }}
                        li
                            a(href="#" ng-click="cleanFavs()") Clean Favs
                        li.username(ng-show="loggedUser") {{ 'Wellcome ' + loggedUser.username }}

        .container
            block content
            .container(ng-view)

        script(src='js/app.js')