.card-movie {
    .image img {
        width: 100%;
    }

    .body {
        p {
            color: #888;
        }
        span {
            font-weight: bold;
            color: black;
        }
    }
}