@import "variables";
@import "bootstrap";
@import "bootstrap/theme";
@import "login";
@import "movies";

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

html, body {
    font-family: Roboto !important;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    margin-bottom: 20px;
    background: $brand-primary;

    li > a {
        color: white !important;
    }
    li > a:hover {
        color: darken($brand-primary, 40%) !important;
    }
}

.brand-color {
    color: $brand-primary !important;
}

.title-content {
    color: green;
    text-align: center;
}