@import "variables";
@import "bootstrap";
@import "bootstrap/theme";
@import "favs";
@import "login";
@import "movies";
@import "detail";

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

html, body {
    font-family: Roboto !important;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    margin-bottom: 20px;
    background: $brand-primary;
    .logo {
        width: 70px;
    }
    li > a {
        color: white !important;
    }
    li > a:hover {
        color: darken($brand-primary, 40%) !important;
    }
    .username {
        color: white;
        display: flex;
        align-items: center;
        height: 50px;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.brand-color {
    color: $brand-primary !important;
}

button span {
    margin-left: 10px;
    margin-right: 10px;
}

.title-content {
    color: green;
    text-align: center;
}

.fadein {
    opacity: 1;
    transition: all .5s;
}
.fadein.ng-hide {
    opacity: 0;
    max-height: 0px !important;
    display: block !important;
}