.row.login
    .header
        h1.text-center Sign In
        img.profile-img(src="./img/user-default.png", alt="Avatar")

    .body
        form(ng-submit="login()", class="form col-md-12 center-block")
            .form-group
                input.form-control.input-lg(ng-model="username", type="text", placeholder="Enter your email...", required, autofocus)
            .form-group
                input.form-control.input-lg(ng-model="password", type="password", placeholder="Enter your password...", required)
            .form-group
                button.btn.btn-primary.btn-lg.btn-block Sign In
                span.pull-right
                    a(href="#") Register Now
                span.pull-left
                    a(href="#") Forgot your password?